<div id="cart-item-{{ item_with_total.item.id }}" class="product-card border border-[#D8CDB3] rounded-lg p-4 sm:p-6 bg-white shadow-md mb-4 flex" data-product-id="{{ item_with_total.item.product.id }}" data-added-order="{{ forloop.counter }}">
    <!-- Checkbox Container -->
    <div class="flex-shrink-0 mr-4 self-start">
        <input type="checkbox" id="select-{{ item_with_total.item.id }}" class="form-checkbox h-5 w-5 text-[#4C3108]" onchange="updateSelection({{ item_with_total.item.id }}, this.checked)">
    </div>

    <!-- Image Container -->
    <div class="flex-shrink-0 mr-4 w-24 sm:w-32">
        <img src="{{ item_with_total.item.product.image_urls.0 }}" alt="{{ item_with_total.item.product.product_name }}" class="w-full h-auto object-cover rounded-lg">
    </div>

    <!-- Product Details Container -->
    <div class="flex-grow flex flex-col justify-between">
        <!-- Title and Price Container -->
        <div class="flex flex-col sm:flex-row justify-between items-start mb-2">
            <h3 class="text-base sm:text-lg font-semibold text-[#4C3108] mb-1 sm:mb-0 sm:mr-2 break-words">{{ item_with_total.item.product.product_name }}</h3>
            <p class="text-xl sm:text-2xl font-bold text-[#4C3108] whitespace-nowrap" id="price-{{ item_with_total.item.id }}">Rp{{ item_with_total.item_total|floatformat:0 }}</p>
        </div>
        
        <!-- Category, Delete, and Quantity Container -->
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mt-2">
            <span class="inline-block px-2 py-1 text-xs border-gradient-coklat rounded-full text-[#4C3108] mb-2 sm:mb-0">{{ item_with_total.item.product.get_category_display }}</span>
            <div class="flex items-center space-x-4">
                <button onclick="removeFromCart({{ item_with_total.item.id }})" class="text-red-500 hover:text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </button>
                <div class="quantity-input flex items-center border border-coklat-1-rgba rounded-md">
                    <button onclick="adjustQuantity({{ item_with_total.item.id }}, -1)" class="text-coklat-1 px-2 py-1" id="decrementBtn-{{ item_with_total.item.id }}">-</button>
                    <input id="quantity-{{ item_with_total.item.id }}" type="number" min="1" value="{{ item_with_total.item.quantity }}" class="w-12 text-center text-coklat-2 focus:outline-none" readonly>
                    <button onclick="adjustQuantity({{ item_with_total.item.id }}, 1)" class="text-coklat-1 px-2 py-1">+</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function adjustQuantity(itemId, adjustment) {
        const quantityInput = document.getElementById(`quantity-${itemId}`);
        const decrementBtn = document.getElementById(`decrementBtn-${itemId}`);
        let newQuantity = parseInt(quantityInput.value) + adjustment;
        if (newQuantity < 1) newQuantity = 1;
        quantityInput.value = newQuantity;
        decrementBtn.disabled = newQuantity === 1;

        updateCartItem(itemId, newQuantity);
    }

    function updateCartItem(itemId, newQuantity) {
        fetch(`/cart/update/${itemId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ 'quantity': newQuantity })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById(`price-${itemId}`).textContent = `Rp${Math.round(data.new_total)}`;
                updateGrandTotal();
            } else {
                alert('Gagal memperbarui jumlah.');
            }
        })
        .catch(error => {
            alert('Terjadi kesalahan saat memperbarui jumlah.');
        });
    }

    function removeFromCart(itemId) {
        fetch(`/cart/remove/${itemId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById(`cart-item-${itemId}`).remove();
                updateGrandTotal();
            } else {
                alert('Gagal menghapus item dari keranjang.');
            }
        })
        .catch(error => {
            alert('Terjadi kesalahan saat menghapus item dari keranjang.');
        });
    }

    function updateSelection(itemId, isChecked) {
        updateGrandTotal();
    }
</script>