{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen flex flex-col">
    <div class="container-custom mx-auto py-16 flex-grow">
        <div class="mb-8 ml-20">
            <h1 class="text-5xl font-bold text-[#4C3108]" style="font-family: 'Poppins'; font-size: 30px; font-weight: bold; margin-bottom: 8px;">
                Keranjang
            </h1>
            <p class="text-2xl text-[#714503]" style="font-family: 'Poppins'; font-size: 15px; font-weight: 600; margin-top: -8px;">
                {{ cart_items|length }} {% if cart_items|length == 1 %} item {% else %} items {% endif %}
            </p>
        </div>

        {% if cart_items %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-6">
                {% for cart_item in cart_items %}
                    {% include "cart/cart_card.html" %}
                    <p>Total: Rp{{ cart_item.item_total }}</p> <!-- Use item_total -->
                {% endfor %}
            </div>
        {% else %}
            <div class="flex items-center justify-center h-full">
                <p class="text-xl text-[#714503]">Tidak ada item di keranjang</p>
            </div>
        {% endif %}
    </div>
    <footer class="bg-[#4D3108] py-2">
        <div class="container mx-auto text-center">
        </div>
    </footer>
</div>
{% endblock %}
