{% extends "base.html" %}
{% load static %}

{% block title %}Workshop Batik{% endblock %}

{% block content %}
<div class="min-h-screen py-20">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
        <div class="flex items-center justify-between mb-2 sm:mb-1">
            <h1 class="text-2xl sm:text-3xl font-bold text-coklat-2">Koleksi Workshop Batikin</h1>
            <div class="flex-grow border-b border-coklat-1-rgba ml-4"></div>
        </div>

        <p class="text-coklat-1 font-semibold mb-4 sm:mb-1">Temukan keindahan batik asli Yogyakarta yang kaya makna di sini.</p>

        <div id="workshopsGrid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for workshop in workshops %}
                {% include "workshop_card.html" with workshop=workshop %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const buttons = document.querySelectorAll('.category-btn');
        buttons.forEach(button => {
            button.addEventListener('click', function() {
                buttons.forEach(btn => {
                    btn.classList.remove('text-gradient-coklat', 'border-gradient-coklat', 'shadow-lg');
                    btn.classList.add('text-coklat-1', 'border-coklat-rgba');
                });
                this.classList.remove('text-coklat-1', 'border-coklat-rgba');
                this.classList.add('text-gradient-coklat', 'border-gradient-coklat', 'shadow-lg');
            });
        });
    });

    function updateWorkshopsGrid(data) {
        const workshopsGrid = document.getElementById('workshopsGrid');
        workshopsGrid.innerHTML = '';
        data.forEach(workshop => {
            console.log(workshop); 
            const workshopHtml = `
                <a href="${workshop.pk}" class="workshop-card block bg-white border border-coklat-1-rgba rounded-md overflow-hidden hover:shadow-md transition-all duration-300">
                    <div class="relative aspect-square overflow-hidden m-4">
                        <img src="${workshop.fields.image_url}" alt="${workshop.fields.title}" class="object-cover w-full h-full">
                    </div>
                    <div class="p-4 space-y-2">
                        <span class="inline-block px-2 py-1 text-xs border border-coklat-1-rgba rounded-full text-black">${workshop.fields.address}</span>
                        <h3 class="text-base font-semibold text-coklat-1">${workshop.fields.title}</h3>
                        <div class="flex justify-between items-center">
                            <span class="text-lg font-bold text-coklat-2">${workshop.fields.time}</span>
                            <button class="like-button focus:outline-none" onclick="event.preventDefault(); likeWorkshop(this);">
                                <!-- Outline heart -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-coklat-1 heart-outline" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                                <!-- Filled heart -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-coklat-1 heart-filled" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L12 8.343l3.172-3.171a4 4 0 115.656 5.656L12 19.657l-8.828-8.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </a>
            `;
            workshopsGrid.innerHTML += workshopHtml;
        });
    }

    function filterWorkshops(category) {
        fetch(`/workshop/api/workshops/?category=${category}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => updateWorkshopsGrid(data))
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>
{% endblock %}
