{% extends 'base.html' %}

{% block content %}
<div class="container-custom mx-auto py-8">
    <h1 class="text-5xl font-bold text-coklat-1">Wishlist</h1>
    <p class="text-2xl text-coklat-1">{{ product_count }} {% if product_count == 1 %}item{% else %}items{% endif %}</p>

    {% if products %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-6">
            {% for product in products %}
            <div class="border border-coklat-rgba rounded-lg p-4">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover rounded mb-2">
                <h2 class="text-xl font-semibold">{{ product.name }}</h2>
                <p class="text-lg font-bold text-coklat-1">{{ product.price|floatformat:0 }} Rp</p>
                <button class="mt-2 px-4 py-2 bg-coklat-1 text-white rounded-lg w-full">Tambahkan Ke Keranjang</button>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center py-20">
            <p class="text-xl text-coklat-1">Tidak ada item di wishlist</p>
        </div>
    {% endif %}
</div>
{% endblock %}
