{% extends "base.html" %}
{% load static %}
{% block meta %}
<title>Ulasan Produk</title>
{% endblock meta %}

{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">
<style>
    .container {
        width: auto;
        height: auto;
        background: #F6F6F6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        box-sizing: border-box;
    }
    .form-container {
        width: auto;
        height: auto;
        background-color: #FFFFFF;
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        color: #754B0B;
        display: flex;
        align-items: flex-start;
    }
    .image-container {
        flex: 1;
        max-width: 200px;
        margin-right: 30px;
    }
    .form-content {
        flex: 3;
    }
    .form-title {
        font-size: 36px;
        font-weight: 600;
        color: #754B0B;
        margin-bottom: 24px;
        word-wrap: break-word;
        word-break: break-all;
    }

    .form-label {
        color: #754B0B;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .form-input {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #F6F6F6;
    }
    .form-help, .form-error {
        font-size: 14px;
    }
    .form-help {
        color: #B0C4DE;
    }
    .form-error {
        color: #FF6347;
    }
    .button-container {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 24px;
    }
    .submit-btn, .cancel-btn {
        width: 180px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .submit-btn {
        background-color: #754B0B;
        color: #F6F6F6;
    }
    .submit-btn:hover {
        background-color: #4D3108;
    }
    .cancel-btn {
        background-color: #D9534F;
        color: #FFFFFF;
    }
    .cancel-btn:hover {
        background-color: #C9302C;
    }
    .rate {
        float: center;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #754B0B;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #754B0B;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #754B0B;
    }
    .form-image {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
</style>

    <div class="container">
        <div class="form-container">
            <div class="image-container">
                <img src="{{ product_image_urls.0 }}" alt="Product Image" class="form-image">
            </div>
            
            <div class="form-content">
                <h1 class="form-title">{{ product_name }}</h1>
                <form id="reviewForm" method="POST" action="{% url 'comment_review:create_review' product_id=id %}">
                    {% csrf_token %}
                    <div class="rate">
                        <input type="radio" id="star5" name="rating" value="5" required/>
                        <label for="star5" title="5 stars">★</label>
                        <input type="radio" id="star4" name="rating" value="4" required/>
                        <label for="star4" title="4 stars">★</label>
                        <input type="radio" id="star3" name="rating" value="3" required/>
                        <label for="star3" title="3 stars">★</label>
                        <input type="radio" id="star2" name="rating" value="2" required/>
                        <label for="star2" title="2 stars">★</label>
                        <input type="radio" id="star1" name="rating" value="1" required/>
                        <label for="star1" title="1 star">★</label>
                    </div>
                    <div class="flex flex-col">
                        <label for="review" class="form-label">Berikan review pada produk disamping</label>
                        <input type="text" id="review" name="review" class="form-input" placeholder="Masukkan ulasan anda disini!" required>
                    </div>
                    <div class="button-container">
                        <button type="button" onclick="redirectToDetail()" class="cancel-btn">Batal</button>
    
                        <button type="submit" class="submit-btn">Kirim</button>
                    </div>
                </form>
            </div>
            <div id="customPopup" class="fixed bottom-8 left-8 bg-white border border-coklat-1 rounded-md p-4 shadow-md hidden z-50 w-80">
                <p id="popupMessage" class="text-coklat-2 font-poppins mb-3"></p>
                <div class="flex justify-end">
                  <button onclick="closePopup()" class="bg-gradient-coklat text-white px-6 py-1 rounded-md hover:opacity-90 transition duration-300 text-sm">Tutup</button>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const reviewForm = document.getElementById("reviewForm");
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute("content");

    reviewForm.addEventListener("submit", function(event) {
        event.preventDefault();

        const formData = new FormData(reviewForm);

        fetch(reviewForm.action, {
            method: "POST",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": csrfToken,
            },
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            if (data.redirect_url) {
                window.location.href = data.redirect_url;
            } else if (data.error) {
                console.error("Form error details:", data.details); 
                alert(data.error);
            } else {
                alert("Failed to submit the review. Please try again.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
            showPopup("Anda telah membuat ulasan! Anda bisa ubah ulasan Anda.");
        });
    });
});

    function redirectToDetail() {
        window.location.href = `{% url 'product_detail' id %}`;
    }

    function showPopup(message) {
        const popup = document.getElementById('customPopup');
        const popupMessage = document.getElementById('popupMessage');
        popupMessage.textContent = message;
        popup.classList.remove('hidden');

        // Automatically close the popup after 3 seconds
        setTimeout(closePopup, 3000);
    }
    </script>
{% endblock %}