{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style/globals.css' %}">

    <style>
    </style>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
        }
    </script>
</head>
<body class="bg-[#f6f6f6] w-full h-full">
    <!-- Navbar -->
    <header class="w-screen bg-white shadow-sm ">
        <div class="container flex justify-between items-center py-4 mx-auto w-max-[1536px] max-md:px-8">
            <div class="flex items-center space-x-2 md:hidden">
                <img src="{% static 'assets/logo.png' %}" alt="Batikin Logo" class="h-16 w-16">
                <span class="text-xl font-javanese leading-6 mt-2 text-coklat-1">Batikin</span>
            </div>
            <div class="md:hidden">
                <button onclick="toggleMenu()" class="text-coklat-1 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
            </div>

    

            <nav class="hidden md:flex space-x-12">
                <a href="{% url 'product_list' %}?category=pakaian_pria" class="text-coklat-1">Pria</a>
                <a href="{% url 'product_list' %}?category=pakaian_wanita" class="text-coklat-1">Wanita</a>
                <a href="{% url 'product_list' %}?category=aksesoris" class="text-coklat-1">Aksesoris</a>
                <a href="{% url 'product_list' %}?category=aksesoris" class="text-coklat-1">Workshop</a>
            </nav>


            <div class="flex items-center space-x-2 max-md:hidden">
                <img src="{% static 'assets/logo.png' %}" alt="Batikin Logo" class="h-16 w-16">
                <span class="text-2xl font-javanese leading-6 mt-2 text-coklat-1">Batikin</span>
            </div>
            

            <!-- Seach icon, wishlist icon, and cart icon hidden on mobile -->
            <div class="hidden md:flex items-center space-x-4">
                <div class="relative">
                    <input type="text" placeholder="Cari produk" class="border rounded-lg py-2 px-4 w-64 focus:outline-none focus:ring-2 border-coklat-rgba placeholder-[#754b0b66]">
                    <button class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h8m-4-4v8"></path>
                        </svg>
                    </button>
                </div>

                <a href="#" class="text-coklat-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                </a>

                <a href="#" class="text-coklat-">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 12.879a3 3 0 010-4.242l5.757-5.757a3 3 0 014.243 0l5.757 5.757a3 3 0 010 4.242l-5.757 5.757a3 3 0 01-4.243 0l-5.757-5.757z"></path>
                    </svg>
                </a>
            </div>
        </div>

        <nav id="mobile-menu" class="hidden md:hidden bg-white shadow-lg">
            <div class="px-6 py-4 space-y-4">
                <a href="{% url 'product_list' %}?category=pakaian_pria" class="text-coklat-1">Pria</a>
                <a href="{% url 'product_list' %}?category=pakaian_wanita" class="text-coklat-1">Wanita</a>
                <a href="{% url 'product_list' %}?category=aksesoris" class="text-coklat-1">Aksesoris</a>
                <a href="{% url 'product_list' %}?category=aksesoris" class="text-coklat-1">Workshop</a>
            </div>
        </nav>
    </header>

    <!-- Main content area -->
    <main class="min-h-screen w-screen">
        <section class="container mx-auto w-max-[1536px] max-md:px-8">
            {% block content %}

            {% endblock %}
        </section>  
    </main>
    <footer class="bg-coklat-2 py-6 h-32 text-center text-gray-600">
        © 2024 Batikin. All rights reserved.
    </footer>
 
</body>
</html>
